<!doctype html>
  <html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <title>Applied Time Series Analysis</title>
      
      <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/pygment_trac.css">
          <meta name="viewport" content="width=device-width">
            </head>
            <body>
            <div class="wrapper">
              <header>
              <h1>Applied Time Series Analysis</h1>
              
              
              <img src="https://maryclare.github.io/content/ts_pic.pdf">
                
                <p><br>ILRST 4550/ORIE 5550/STSCI 4550 <br> <br> Instructor: Maryclare Griffin <br> <br> TA: Megan Gelsinger <br></p>
                
                
                <ul>
                <li><a href="https://maryclare.github.io/appliedtimeseriesanalysis.html">Home</a></li>
                <li><a href="https://maryclare.github.io/atsa_syllabus.html">Syllabus</a></li>
                <li><a href="https://maryclare.github.io/atsa_notes.html">Notes</a></li>
                <li><a href="https://maryclare.github.io/atsa_homework.pdf">Homework</a></li>
                <li><a href="https://maryclare.github.io/atsa_project.html">Project</a></li>
                </ul>
                          
                          
                </header>
                          
                          <section>
                          {{ content }}
                        </section>
                          
                          <footer>
                          
                          <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
                            </footer>
                            </div>
                            <script src="javascripts/scale.fix.js"></script>
                              </body>
                              </html>
                              