<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Maryclare Griffin</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Maryclare Griffin</h1>
        
        
        <img src="https://maryclare.github.io/content/pic.jpg">
        
        <p>Ph.D. Candidate <br> University of Washington <br> Department of Statistics</p>
        
        <ul>
          <li><a href="https://maryclare.github.io/pages/research.html">Preprints/Publications</a></li>
          <li><a href="https://maryclare.github.io/pages/research.html">Blog</a></li>
          <li><a href="https://maryclare.github.io/content/cv.pdf">CV</a></li>
        </ul>
      </header>
      
      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
