<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">	  
    <title>Siddharth Mitra</title>
    <script src="scramble.js"></script>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
	
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145445228-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-145445228-1');
    </script>
  </head>
  <body>
    <div class="wrapper">
      
      <header>
        <p> <img src="https://mitrodov.github.io/content/profile_circ2_lowres.png" width="64%" height="64%"> </p>
	<h1>siddharth mitra</h1>
	<!--      <h5>between exploding and vanishing gradients</h5> -->
        <!--<p>Chennai Mathematical Institute <br> Email: smitra [at] cmi [dot] ac [dot] in </p>-->
   
		    <b>email</b>:
		    <div id="email" style="display:inline;">
		     <noscript><i>Please enable Javascript to view</i></noscript>
	      </div><br><a href="https://twitter.com/slothful_sudie" target="_blank">twitter</a><br><a href="https://www.instagram.com/sid_mit/" target="_blank">instagram</a><br><a href="https://500px.com/sid_mit" target="_blank">500px</a>
      </header>
      
      <section>
        {{ content }}
      </section>

     <footer>
        
        <p><small><a href="https://github.com/orderedlist" target="_blank">theme</a>; <a href="https://github.com/jeffdonahue" target="_blank">amusing email unscrambler</a>; also, mitrodov is an amalgam of mitra and irodov and was coined many years ago by a dear friend</small></p>
      </footer>  
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
  <script>
		emailScramble = new scrambledString(document.getElementById('email'),
		    'emailScramble', 'th.tarimidahdsrayae.delu',
		    [8,9,10,13,15,14,12,,11,2,4,6,5,3,1,7,18,17,16,22,21,23,20,19,24]);
	</script>
</html>
