<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Siddharth Mitra</title>
    <script src="scramble.js"></script>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      
      <header>
        <p> <img src="https://mitrodov.github.io/content/profile.jpg" width="100%" height="100%"> </p>
        <h1>Siddharth Mitra</h1>
        <!--<p>Chennai Mathematical Institute <br> Email: smitra [at] cmi [dot] ac [dot] in </p>-->
        <b>Chennai Mathematical Institute</b><br>
		    <b>Email</b>:
		    <div id="email" style="display:inline;">
		     <noscript><i>Please enable Javascript to view</i></noscript>
		    </div>
      </header>
      
      <section>
        {{ content }}
      </section>

     <footer>
        
        <p><small><a href="https://github.com/orderedlist">theme</a>; <a href="https://github.com/jeffdonahue">amusing email unscrambler</a>; also, incase you're wondering, mitrodov was coined many years ago by a dear friend and is an amalgam of mitra (my surname) and irodov (the famed russian physicist)</small></p>
      </footer>  
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
  <script>
		emailScramble = new scrambledString(document.getElementById('email'),
		    'emailScramble', 'iacc.na@iimrt.sm',
		    [10,12,13,8,11,16,6,7,3,15,9,5,4,14,1,2]);
	</script>
</html>
